.container {
  background-color: black;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAaVBMVEUAAAAFBQUICAgLCwsQEBAVFRUSEhIaGhodHR0XFxcfHx8rKysbGxsoKCgiIiI6OjpFRUU/Pz8qKio0NDRMTExTU1NDQ0M7OzswMDBZWVliYmJPT09mZmZsbGxdXV12dnZ/f3+Dg4ONjY3KwZvQAAAU8ElEQVR4nM0d6briKqyr1apVj8tRzzr3/R/yChTKkkCgdL7Jj5mjtiwhZCcUBYeymKCuiqVhQH85Lt53Ue5f/9R9WQafXAJOxOda5PuqTu+7fJAf7ZL7IDyzpjaVfYmqorzSWm2q4oXpPU6pPqDj2QtsoD/ah5v589vMpuEftN2/bhboAIQARYjG3n7cX4ikpGC1Izx0v0a2mgYtnbjeJEXVGfZElcjgq0fRi79OyewBhBqY06f66/Z3VoMAr+1QjwLK4MJnaISR3GvlLorWgvXjDBlQfEW/sRnnPIouLoGcuW0v0Ktqx4702+2pnZb2R7vH9eEMvohsKn3fl03yJvJy9g0k3Mt2XDzZ506NsLTX1QQHoy7/a6I49M39qqXqI5BiFhg/DX77mKfLLr/aVvuFyEr9dYD2HSCUosGix4VU0yuiXBuLWJJ3qPbObDpwt3ddH2a2qbXFGscUag3khiupm8IPsasIUNIMBSwNDoB4OKauRBNtz1VNaRE/hMQyh4WqM0Nt0iXcaR+r8ezGpUsS1TePmDkKsdea0q9OMgZ0Oh8csd7WICe6k5t/rsLP+KG/g0vdgZu5TmBdDqzneyAsbi52zxomBHfIjv5yATWrJeGl4cVriYUhx/f1ppiIf7Pl//0wxJRP+0VrfitTWVscUGbi0p69hiOzmKQXx0G5kx83xbSlDhf5sKfLYhT+HsswVqpoz1fOu7WwXMrBVGx9fdRFM6FByqfSsSuMj+n2ShZNSDfPzs5YlEctLHhAmBp09KBZo5cS5xHXShYuqIDmX1E72JFCR6qDBrBNNIBNvVmAYDVdtZANWgTWFg8qDqIsoSBcELWtUj19R3s3n+MQj5zI9o1gAJpDSSoMW/vNHv66EPjKQ7N7p5naw3nepz8/FaqgAVrQG0r5D6CK8O2wIbv658K3/gGb8SGkxNcNyUayYW3spIbsj23m+LBcgFyIL1ViAz7sdc0l+O4RtAXNphyugyDcPuHvkzuvYtgUvADF5EzMH+N5wUdpCwywl0rnXPsFZMwZnr5JGI+Rn6QgwquoEXfz42XxlMLqaafte3Aa7/wi2u1/bEw0o3SwsStj+/NHhlSOoCgZIszhg9pMBRBAlh1KXdj1d/gZrAvF9iGms4sjbYM9VjVs7wOmvaQPaL40teo+ixsgjC4FrqSVByb1PU4fIsW7+WWc11RaA6Dsmizo+FjZO/htzSPgyauBeqPeLD/an2BTmjdFqXd/qIrKliDN91hjJ2nfLpcpwvBUJdkcZU31DVNibkEz7Q4zZ+PbiGBUo7GPvFaPAVkzmaSKWUp66RcceRwM5vKhZh01e+CMebsfkpakRBljSgSzqYjxHOOAEjO3PPHpab9sjiqMr1p1UZbTQMlr61hgCfedvXYYTmrxYOVx0psbGp6F8tVqu+HAxNAmwZqUcAp6JkoUp0ynt7WgjePPNrIc6QFXzdMBIVbDPTctHubiMDm9ovZ1C/LtEsXw+bUqtuJL7XdM7gEed/ldQpgA9KHDAHKV8yUm54vAoqF0qIFT/lPpVXyQfC0dlId56oAPwkoNCcOVb4zugDYp85M0NDsBF71rAVsfrY3M0iPdB0qEGHbReGCuQX7xOuDigsi1hcR9lcTU3QhMPkhIVQ3okDefF+WesvkXh7tLyLTshaScgi5HOuZygEh2dKZVbDZtLNw5toSNCmWa6CAZ7TwEo2n0oRc349agaDFgXhgG3MlTNrRRZIG0HHYNnuGciPXJt07ePJCA7dDDyI1C3REWgRII6h/8RMy667y0947eYsqXrthOHZnafUUPnC3PqMi5pAwO//l+XU8OJM6+O8gdN0Z3KojBn6ClgSkt5OaKyqxqncFsfcksjjFQg5uVk8uOr3VrvtGiAZaxPdvmRpKJwu5OEEnfIGdwqPsmZrXhWut9aom/vbcfb2CXpILuXFQLxFbNCRL4iy3AGMkd/WKrLM58zu383Vi1lxkGNgScVHQ2FRrk6t3j0nFedvdZ2MINwPe9zxxDZauzjhGY/nSbT5vljP7uyXK/YuJPEZLlz4EIc0Ss2oxCoNnhJAP98zKLQZ6LwNZiUbWcghyfj8wEcyghc7f0M+bzunCdNKZPJDKgaUE15/zdvwMDlRJmq5GZoOoC8iGSuMvPT4oix0kJlgq39KMKFT5Uk7xQZ0gWva7S1YIDKvvOYW7bIbh4x8f51RV9MG45lI66vZ2aJLgi4g624Bo64VzfcPkiHxeY2H+p1mCla1UTGUDpATpD86osnNdRzYV1jvOdd9Dqo9ptrcmqJfMJ6n3E7WDzbn1YQfayIGysgYGSzwft6j4Zux62dsZ8I0J3WDB3MbhC2gMliZO7NNVNaPS0gHseZh9cCcGP7ZHYaYMxM4nrxLyWGcr1CkXaIaOLsKKkWqL2LQvbvP8LEXhyQC8PtNqm7l/YObo4yKmp7R3JDLGNWv3DID6vPD+oUb5W522mndkYRMgakwLaYbATLZAEHR+lW9IlskJDMMWxCkT4RpiYfljFnkBv+GWstt/FW5xzlv3zpXOcgXHvmKPtW6kd4xHxeNhExB+N+kl3FleT24aWGWO3gSYsE6AyunwfdkZb2RDkCgKwadAcEEY9va+5+TOHd2a44CkjqTC3wcdLAm4Ci1pa/yeD2FDCiDh7uMFWLBooWmuwckby+X8ynyN6+VbGlg24xnWTupn2jBwSbpH+gt++TNBvhuE3M0YTjKmuqRrVl58C4lML2AsIBYfsacgIvkwukiY+qzNLZsTaYkGhDM2bd57GiN5HLTxEVMZw8J/OiTsmv67p82dYR0ikSG6lZTLnZPo+WXGWtp3z+skjbDOVZNNBZJz+gr/x5W2yF/CwzPKDaxoeOGeHCySMTH+BrANgJct9xTQ7pEpTPmgDGk0akUWefcAfXhNI4BogTkuHQjKTEaPL3BO93LJnj402YrT99Q/LAokD3HXki9iE1H3rZyNBeOLiiDgb++1EtDKmhGZiDUo8YYbmgsUIokX37p04zv00tN1fKLYqwFlbfLBTZJF2lGmjp7dS12qigA5jT/mNBQY9afWRI3c4aGZvpxSpoY4w9hidf9jLtI8nkFVwDeqBbhIbGxqnh8ZwgNSmho4ndjqq3Nf6b6XkcVINYEpxxIka2BtqTbeGetlYCXhGfvKTuDFWpTLl9suUHttMjqXTl8C2p8rsSkjGDqWYS9ZiJy8sGgbDk6OQeDjESmPyvKRZvVmOv0vjmMqxAjJtp8cZS9GqzzprnDUYSfS1dgMcSMyeOaGG9xY8kDEqDkxnQAPdLPxzn5hn+JDq4BiShAjSnB3GxNbGsi97beH++JaZzWzbCOLzZsYK0mdT8bl4lAi1++Ov3HUJW9mSzUWTjRW6jcli9vrJ9deHFW7gT7KtxN0dqrnQ3vJT9KBvkSo8o8HCJKQPvBhpc0EKE1rKC0WmldoZpwmO1s/q47zUqVzwkguriyqJaAKWiMInZeCnD+3VTvCM/tf41k7MWw70mcCEODMqWxY/nhZ0rYMksKriiSHfDScmAEVmxsvVL6dgiqYg8mF3smmSpK2bZhll0j5u0vro1x6qf+NukMrY7rL/QaSXXTTRU2r7xVNivKkGRB0mtHFgrDPf23eUJ3PWKwLAXM9qJwJGBGyJBAj+ARhQg+5F2lt/zs+BaRdiyi1sNJeaW/u/f+5gnByPnmFljjFD0s9ZFNHl5CLqevAMpn8NFxoI2YkLy2TQ0BxTytuVQ3eN0xBsMSy0edAkz/rXWJN+YgjmvQ4LOMi2kOxYhUjv6LEVSlc7tONgAlrF5JiVWzN2xra8hnFAOAw0W+04m8Qjit6rij1TUTGdbKzJ81U8jLZR7ShtypM8BhIEb/PkZSuwHyGoNnwFzjmSK1d+HcSWwn4utBdn1PbV17wSLaqHbSjqw570H8rUyDV9PHj8t0F++sI9SlvNdT5h371VQV6Xov2A6TmaCpGWRAHHMuoV3yKi9d8DNqVBv1xKH5SEznPYyPjK/g7IDghXMwk9AEIToCI+NH0a1nIlBXg8O917mEmk+/mLe2/iRXEFdJvljoQAbJHJrlhYes6lIEnJIMKt+qG4/2ffjXscYZWBtEmaO/WEPCpm8EPVKQO87gzz0yOM4sMkmeQD57X9DYPnKVk19daq1E0Je4PhHfoJv25BkRyRz+j6ebYz/O81tGhaSounnux18eMFFixUaHgHrxiFgdlojw01hrI+3A59lUBmaBq3TJcFLQ9CInwjXsuAN9PcKPYppcb6rC+mRE/meCI9Pj88bfWLJdCo6GoEAzDiQJuI0KPUqml9kUf0Rk5qg9XEg4yrmmvv961hUh14KRebq7Nssfkm6giGxqmjY0C9ojh4qIg23iWcFGFQw96eTcb6CDszDLgyxYTpezeteFesWDbyyMkFv2GIvxuyZywmHcb+7j/Fis1foXOO0DYSJnCazHda5hy4NZxsZln3EIXf6v3rHWog4PWOglDJWIRKzLdisqMkDB+9Rx8PHo5vFP+/DNEOIOxWSRhm3ekdQK+HAqvgeTZNBYyp/zLjrPjHjFBoHR04o5B5pq2g+E1YrQaJ4UijqPqmFzndpOiXRipiTFowHYimhZZExXfyVDO28UVsL4asfTbhYzfG/lYVeOQ6PDW6MpXC4a9mfADeqxZeHn0jxNybO+Wbl8WJ7WJwocxhkEvuQ7CD2dNdWMvZbm2bMBdGxsdSZzM2SadtmoTgQ7yJMeR3jFqYFsawE2AApUqKtA90D4EHsyA6ZodeJDkzL7B71m1S2ep3/5G6C/F07ExAEjnSWqrtbfUDFDksJy+ZrwK/ZyCrcZUuOM+/Ra3jF8TezBIb7J6EANNgGt5n0Zzcb+dAOqdC+oXrd8NBC9dxbBhO7h6uf/mEayg5WoBff8MVoDcCwzuaM3vgap1Zg1XULsW1oDasF2sUxC6PFshcx0qDO+MPWHCJBXbUiNAmPtnb032QuGYQWcd9CBMiZ//mmY3x37OHDQ+AAdehpWOXyYDUX56jDI+nTyW5UAdi8zGeOtV5/dJz2QoAUyaJL1DLO/fpmxb+1BbwjvfqWiHKeD+BnIQ1lz+6Q85sPkZ1Lua+pR+6l1/5kFYzVL8T6cC+nzmkCxKC2OWQsNWs4MEpbFiEffLXH5Lfwi5I8cKBW7TaAB72qGI11S7SDxuO+TP32Uu3krjagJXqUrV7LB9I5JZxh/Rjlqc9i3uBnxosXR3ATx0OTqLpteSkNdtcpBShIkHVRM7h4vhec1xGhgAX2zkOOvigzum5duA2t3HmLtISyVaxJZ9IcAEWEehDCF/4ZmzykG4Qd40holFb0GJbkibjSMVklL57vXXrr5NvzVmDh7V/S8D9DaTpuLSkDA81mgBvBZKcJ7hHVKFnoJQxmyIIeWekRDvEV2mYirUhqigkEBicYwx5n2drAuuvu+iimjF+V/kK8J3q95GUAqnBeS7zjXOcMMiWXTDCLiI2e13mrP4ERmAzcnFsvXHGvZq+tNv1RAENzSkcibRf/YOxOAS1qFd3vFeevhkJoXL3yJkcksamMaGOu5aksPtkPXkqZ6C/QEPxGWKEaIPc39jNP7wJRl147XVvL/xH413BzxnFKZsz7bZlDQzy99By5TMuca/TjxxfZNITWq1Uk8eqT3AFIjLGDbIx7cmzcRRHZMz5Vg0sbi3Hp13TSxFKveNZwCm2BungEWIKXbRkAQjuzX4CAHh8FHBmTE9OQhfKoMVOE45OrIMGF7erXihx9IDeCfGhPwBlMoefEEuLXK0kT67DRNqAf6ouxHchP840kA/EU6cH6/c5LF0y+giO46Si7fMOqO7zxFmnKD2MD2fuTY6yk28jwipA9veLXtTgW/Ujci2BjgPegrHcoJkH8pCDERA5Sp75B3h0IeApIr/mdyZOzAIPyJlRs4XXFj+YhVUr4C/70iyDzaaLBjKsJAvq18z5Z/VnitlN2O0cuib3E/QLWodR6+gMJK8wP+u/ls4fAdDogDl2PYd9xucHvi+E9rAFuJHe8Rr8NhrubId6DdmnJm2fSeVsxhJabYi/cv/NL/+LZv9lutmjUbIZKXDj6iFAI9OfifqO6Krx8lT7inEQbnwaUVJlusyFfKMBIGg0FnD48p/+I8CABAIsMkLmyWOOgTx9U1+40vJ0gSZh+foywy9b+42eqmjJPMJNDfcZHNRrORZK3VtDRIjxEFZDmJ091t7ZHiKZ1nvr+DRivVme55O0xg1b8y+vYsWYxFlxipWzq79o/kPhJ+bvjrQjW0Led09ZLKoKlNp/YEcyKOIwDEKRuxFcccCqs3hA1ztJs1cn/aiEiUmoT2xSJf5xoCnoztAgDusbv8kPzjbh5/BOa24Lj3QeBy6yPEZvJ6BaADWOmyfHVampRwzhdPM1vppYjF/ApgqPvqRvhwP9NMk0lpOW+UUgoFv6ArNqyWpme1fwV55PLTfn9G1ljUJU+9XoZoYrgneNSD2x8DIVKXxfnpVpftSjEtcbLE/QeAxTZWqtIKaFA5EBqjpc9rRmvZG9x8mFjXUl+QXOPJQrCRaxGiduFWsu7Vqm05MJMMBZcAnQQI7cpKOjBGV8pExAKJ6jrC5OPGuCHKPZWKtcl6Lono81jMSSF6R//e/i/SPmukB07hArj9MkzS0D2otb2raacGAtBBY9mK3Fjf0A2ZhxOCDuTPcxxzlzUkzCwgFDbE2kPLvUqTaA7dNuecyv+RuVj17wJBx4bhtjZUes1YLeqbcnXdDN/Ie5XbInQGeE38T3pjkhcx8k/VT0qzIhRK2J4iTcCbYMlaihVtvu+xCVfiqmuEb8nilFsqBOoYowIK6CrTfKaBkgRne37zL+0dQwUKjFzdCc3Jys+CHmWOGHNqe9Jsp2BBfNvbhqT7Xzbx43MFaBBlFUKGws3RqjtXrOGynQ24MX2RVbpW+v1viKiddiD4pqBrQ8nxfIyDpO8w7T7SrKwy0pm8Wb3s1F1WIxkJktfzKaMUdiePy+dBtr/pHvujFJx2Dn6ar83lzNN61ZyVejlIDyV/9EvUqLCH28li316VAB+QCHkW97d84I7WFpTcKtYcxzULXdYqYVOTynBcOIgcIzMcB0CVvhOCCbKjECAuI4XDFpCjaCDYCyzmXD0QusXzfnvhxoLhs5ycSbnc9WRovx243Br/8PRF900Aaitg4AAAAASUVORK5CYII=);
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  max-width: 1980px;
}

header {
  position: fixed;
  width: 100%;
  top 0px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAaVBMVEUAAAAFBQUICAgLCwsQEBAVFRUSEhIaGhodHR0XFxcfHx8rKysbGxsoKCgiIiI6OjpFRUU/Pz8qKio0NDRMTExTU1NDQ0M7OzswMDBZWVliYmJPT09mZmZsbGxdXV12dnZ/f3+Dg4ONjY3KwZvQAAAU8ElEQVR4nM0d6briKqyr1apVj8tRzzr3/R/yChTKkkCgdL7Jj5mjtiwhZCcUBYeymKCuiqVhQH85Lt53Ue5f/9R9WQafXAJOxOda5PuqTu+7fJAf7ZL7IDyzpjaVfYmqorzSWm2q4oXpPU6pPqDj2QtsoD/ah5v589vMpuEftN2/bhboAIQARYjG3n7cX4ikpGC1Izx0v0a2mgYtnbjeJEXVGfZElcjgq0fRi79OyewBhBqY06f66/Z3VoMAr+1QjwLK4MJnaISR3GvlLorWgvXjDBlQfEW/sRnnPIouLoGcuW0v0Ktqx4702+2pnZb2R7vH9eEMvohsKn3fl03yJvJy9g0k3Mt2XDzZ506NsLTX1QQHoy7/a6I49M39qqXqI5BiFhg/DX77mKfLLr/aVvuFyEr9dYD2HSCUosGix4VU0yuiXBuLWJJ3qPbObDpwt3ddH2a2qbXFGscUag3khiupm8IPsasIUNIMBSwNDoB4OKauRBNtz1VNaRE/hMQyh4WqM0Nt0iXcaR+r8ezGpUsS1TePmDkKsdea0q9OMgZ0Oh8csd7WICe6k5t/rsLP+KG/g0vdgZu5TmBdDqzneyAsbi52zxomBHfIjv5yATWrJeGl4cVriYUhx/f1ppiIf7Pl//0wxJRP+0VrfitTWVscUGbi0p69hiOzmKQXx0G5kx83xbSlDhf5sKfLYhT+HsswVqpoz1fOu7WwXMrBVGx9fdRFM6FByqfSsSuMj+n2ShZNSDfPzs5YlEctLHhAmBp09KBZo5cS5xHXShYuqIDmX1E72JFCR6qDBrBNNIBNvVmAYDVdtZANWgTWFg8qDqIsoSBcELWtUj19R3s3n+MQj5zI9o1gAJpDSSoMW/vNHv66EPjKQ7N7p5naw3nepz8/FaqgAVrQG0r5D6CK8O2wIbv658K3/gGb8SGkxNcNyUayYW3spIbsj23m+LBcgFyIL1ViAz7sdc0l+O4RtAXNphyugyDcPuHvkzuvYtgUvADF5EzMH+N5wUdpCwywl0rnXPsFZMwZnr5JGI+Rn6QgwquoEXfz42XxlMLqaafte3Aa7/wi2u1/bEw0o3SwsStj+/NHhlSOoCgZIszhg9pMBRBAlh1KXdj1d/gZrAvF9iGms4sjbYM9VjVs7wOmvaQPaL40teo+ixsgjC4FrqSVByb1PU4fIsW7+WWc11RaA6Dsmizo+FjZO/htzSPgyauBeqPeLD/an2BTmjdFqXd/qIrKliDN91hjJ2nfLpcpwvBUJdkcZU31DVNibkEz7Q4zZ+PbiGBUo7GPvFaPAVkzmaSKWUp66RcceRwM5vKhZh01e+CMebsfkpakRBljSgSzqYjxHOOAEjO3PPHpab9sjiqMr1p1UZbTQMlr61hgCfedvXYYTmrxYOVx0psbGp6F8tVqu+HAxNAmwZqUcAp6JkoUp0ynt7WgjePPNrIc6QFXzdMBIVbDPTctHubiMDm9ovZ1C/LtEsXw+bUqtuJL7XdM7gEed/ldQpgA9KHDAHKV8yUm54vAoqF0qIFT/lPpVXyQfC0dlId56oAPwkoNCcOVb4zugDYp85M0NDsBF71rAVsfrY3M0iPdB0qEGHbReGCuQX7xOuDigsi1hcR9lcTU3QhMPkhIVQ3okDefF+WesvkXh7tLyLTshaScgi5HOuZygEh2dKZVbDZtLNw5toSNCmWa6CAZ7TwEo2n0oRc349agaDFgXhgG3MlTNrRRZIG0HHYNnuGciPXJt07ePJCA7dDDyI1C3REWgRII6h/8RMy667y0947eYsqXrthOHZnafUUPnC3PqMi5pAwO//l+XU8OJM6+O8gdN0Z3KojBn6ClgSkt5OaKyqxqncFsfcksjjFQg5uVk8uOr3VrvtGiAZaxPdvmRpKJwu5OEEnfIGdwqPsmZrXhWut9aom/vbcfb2CXpILuXFQLxFbNCRL4iy3AGMkd/WKrLM58zu383Vi1lxkGNgScVHQ2FRrk6t3j0nFedvdZ2MINwPe9zxxDZauzjhGY/nSbT5vljP7uyXK/YuJPEZLlz4EIc0Ss2oxCoNnhJAP98zKLQZ6LwNZiUbWcghyfj8wEcyghc7f0M+bzunCdNKZPJDKgaUE15/zdvwMDlRJmq5GZoOoC8iGSuMvPT4oix0kJlgq39KMKFT5Uk7xQZ0gWva7S1YIDKvvOYW7bIbh4x8f51RV9MG45lI66vZ2aJLgi4g624Bo64VzfcPkiHxeY2H+p1mCla1UTGUDpATpD86osnNdRzYV1jvOdd9Dqo9ptrcmqJfMJ6n3E7WDzbn1YQfayIGysgYGSzwft6j4Zux62dsZ8I0J3WDB3MbhC2gMliZO7NNVNaPS0gHseZh9cCcGP7ZHYaYMxM4nrxLyWGcr1CkXaIaOLsKKkWqL2LQvbvP8LEXhyQC8PtNqm7l/YObo4yKmp7R3JDLGNWv3DID6vPD+oUb5W522mndkYRMgakwLaYbATLZAEHR+lW9IlskJDMMWxCkT4RpiYfljFnkBv+GWstt/FW5xzlv3zpXOcgXHvmKPtW6kd4xHxeNhExB+N+kl3FleT24aWGWO3gSYsE6AyunwfdkZb2RDkCgKwadAcEEY9va+5+TOHd2a44CkjqTC3wcdLAm4Ci1pa/yeD2FDCiDh7uMFWLBooWmuwckby+X8ynyN6+VbGlg24xnWTupn2jBwSbpH+gt++TNBvhuE3M0YTjKmuqRrVl58C4lML2AsIBYfsacgIvkwukiY+qzNLZsTaYkGhDM2bd57GiN5HLTxEVMZw8J/OiTsmv67p82dYR0ikSG6lZTLnZPo+WXGWtp3z+skjbDOVZNNBZJz+gr/x5W2yF/CwzPKDaxoeOGeHCySMTH+BrANgJct9xTQ7pEpTPmgDGk0akUWefcAfXhNI4BogTkuHQjKTEaPL3BO93LJnj402YrT99Q/LAokD3HXki9iE1H3rZyNBeOLiiDgb++1EtDKmhGZiDUo8YYbmgsUIokX37p04zv00tN1fKLYqwFlbfLBTZJF2lGmjp7dS12qigA5jT/mNBQY9afWRI3c4aGZvpxSpoY4w9hidf9jLtI8nkFVwDeqBbhIbGxqnh8ZwgNSmho4ndjqq3Nf6b6XkcVINYEpxxIka2BtqTbeGetlYCXhGfvKTuDFWpTLl9suUHttMjqXTl8C2p8rsSkjGDqWYS9ZiJy8sGgbDk6OQeDjESmPyvKRZvVmOv0vjmMqxAjJtp8cZS9GqzzprnDUYSfS1dgMcSMyeOaGG9xY8kDEqDkxnQAPdLPxzn5hn+JDq4BiShAjSnB3GxNbGsi97beH++JaZzWzbCOLzZsYK0mdT8bl4lAi1++Ov3HUJW9mSzUWTjRW6jcli9vrJ9deHFW7gT7KtxN0dqrnQ3vJT9KBvkSo8o8HCJKQPvBhpc0EKE1rKC0WmldoZpwmO1s/q47zUqVzwkguriyqJaAKWiMInZeCnD+3VTvCM/tf41k7MWw70mcCEODMqWxY/nhZ0rYMksKriiSHfDScmAEVmxsvVL6dgiqYg8mF3smmSpK2bZhll0j5u0vro1x6qf+NukMrY7rL/QaSXXTTRU2r7xVNivKkGRB0mtHFgrDPf23eUJ3PWKwLAXM9qJwJGBGyJBAj+ARhQg+5F2lt/zs+BaRdiyi1sNJeaW/u/f+5gnByPnmFljjFD0s9ZFNHl5CLqevAMpn8NFxoI2YkLy2TQ0BxTytuVQ3eN0xBsMSy0edAkz/rXWJN+YgjmvQ4LOMi2kOxYhUjv6LEVSlc7tONgAlrF5JiVWzN2xra8hnFAOAw0W+04m8Qjit6rij1TUTGdbKzJ81U8jLZR7ShtypM8BhIEb/PkZSuwHyGoNnwFzjmSK1d+HcSWwn4utBdn1PbV17wSLaqHbSjqw570H8rUyDV9PHj8t0F++sI9SlvNdT5h371VQV6Xov2A6TmaCpGWRAHHMuoV3yKi9d8DNqVBv1xKH5SEznPYyPjK/g7IDghXMwk9AEIToCI+NH0a1nIlBXg8O917mEmk+/mLe2/iRXEFdJvljoQAbJHJrlhYes6lIEnJIMKt+qG4/2ffjXscYZWBtEmaO/WEPCpm8EPVKQO87gzz0yOM4sMkmeQD57X9DYPnKVk19daq1E0Je4PhHfoJv25BkRyRz+j6ebYz/O81tGhaSounnux18eMFFixUaHgHrxiFgdlojw01hrI+3A59lUBmaBq3TJcFLQ9CInwjXsuAN9PcKPYppcb6rC+mRE/meCI9Pj88bfWLJdCo6GoEAzDiQJuI0KPUqml9kUf0Rk5qg9XEg4yrmmvv961hUh14KRebq7Nssfkm6giGxqmjY0C9ojh4qIg23iWcFGFQw96eTcb6CDszDLgyxYTpezeteFesWDbyyMkFv2GIvxuyZywmHcb+7j/Fis1foXOO0DYSJnCazHda5hy4NZxsZln3EIXf6v3rHWog4PWOglDJWIRKzLdisqMkDB+9Rx8PHo5vFP+/DNEOIOxWSRhm3ekdQK+HAqvgeTZNBYyp/zLjrPjHjFBoHR04o5B5pq2g+E1YrQaJ4UijqPqmFzndpOiXRipiTFowHYimhZZExXfyVDO28UVsL4asfTbhYzfG/lYVeOQ6PDW6MpXC4a9mfADeqxZeHn0jxNybO+Wbl8WJ7WJwocxhkEvuQ7CD2dNdWMvZbm2bMBdGxsdSZzM2SadtmoTgQ7yJMeR3jFqYFsawE2AApUqKtA90D4EHsyA6ZodeJDkzL7B71m1S2ep3/5G6C/F07ExAEjnSWqrtbfUDFDksJy+ZrwK/ZyCrcZUuOM+/Ra3jF8TezBIb7J6EANNgGt5n0Zzcb+dAOqdC+oXrd8NBC9dxbBhO7h6uf/mEayg5WoBff8MVoDcCwzuaM3vgap1Zg1XULsW1oDasF2sUxC6PFshcx0qDO+MPWHCJBXbUiNAmPtnb032QuGYQWcd9CBMiZ//mmY3x37OHDQ+AAdehpWOXyYDUX56jDI+nTyW5UAdi8zGeOtV5/dJz2QoAUyaJL1DLO/fpmxb+1BbwjvfqWiHKeD+BnIQ1lz+6Q85sPkZ1Lua+pR+6l1/5kFYzVL8T6cC+nzmkCxKC2OWQsNWs4MEpbFiEffLXH5Lfwi5I8cKBW7TaAB72qGI11S7SDxuO+TP32Uu3krjagJXqUrV7LB9I5JZxh/Rjlqc9i3uBnxosXR3ATx0OTqLpteSkNdtcpBShIkHVRM7h4vhec1xGhgAX2zkOOvigzum5duA2t3HmLtISyVaxJZ9IcAEWEehDCF/4ZmzykG4Qd40holFb0GJbkibjSMVklL57vXXrr5NvzVmDh7V/S8D9DaTpuLSkDA81mgBvBZKcJ7hHVKFnoJQxmyIIeWekRDvEV2mYirUhqigkEBicYwx5n2drAuuvu+iimjF+V/kK8J3q95GUAqnBeS7zjXOcMMiWXTDCLiI2e13mrP4ERmAzcnFsvXHGvZq+tNv1RAENzSkcibRf/YOxOAS1qFd3vFeevhkJoXL3yJkcksamMaGOu5aksPtkPXkqZ6C/QEPxGWKEaIPc39jNP7wJRl147XVvL/xH413BzxnFKZsz7bZlDQzy99By5TMuca/TjxxfZNITWq1Uk8eqT3AFIjLGDbIx7cmzcRRHZMz5Vg0sbi3Hp13TSxFKveNZwCm2BungEWIKXbRkAQjuzX4CAHh8FHBmTE9OQhfKoMVOE45OrIMGF7erXihx9IDeCfGhPwBlMoefEEuLXK0kT67DRNqAf6ouxHchP840kA/EU6cH6/c5LF0y+giO46Si7fMOqO7zxFmnKD2MD2fuTY6yk28jwipA9veLXtTgW/Ujci2BjgPegrHcoJkH8pCDERA5Sp75B3h0IeApIr/mdyZOzAIPyJlRs4XXFj+YhVUr4C/70iyDzaaLBjKsJAvq18z5Z/VnitlN2O0cuib3E/QLWodR6+gMJK8wP+u/ls4fAdDogDl2PYd9xucHvi+E9rAFuJHe8Rr8NhrubId6DdmnJm2fSeVsxhJabYi/cv/NL/+LZv9lutmjUbIZKXDj6iFAI9OfifqO6Krx8lT7inEQbnwaUVJlusyFfKMBIGg0FnD48p/+I8CABAIsMkLmyWOOgTx9U1+40vJ0gSZh+foywy9b+42eqmjJPMJNDfcZHNRrORZK3VtDRIjxEFZDmJ091t7ZHiKZ1nvr+DRivVme55O0xg1b8y+vYsWYxFlxipWzq79o/kPhJ+bvjrQjW0Led09ZLKoKlNp/YEcyKOIwDEKRuxFcccCqs3hA1ztJs1cn/aiEiUmoT2xSJf5xoCnoztAgDusbv8kPzjbh5/BOa24Lj3QeBy6yPEZvJ6BaADWOmyfHVampRwzhdPM1vppYjF/ApgqPvqRvhwP9NMk0lpOW+UUgoFv6ArNqyWpme1fwV55PLTfn9G1ljUJU+9XoZoYrgneNSD2x8DIVKXxfnpVpftSjEtcbLE/QeAxTZWqtIKaFA5EBqjpc9rRmvZG9x8mFjXUl+QXOPJQrCRaxGiduFWsu7Vqm05MJMMBZcAnQQI7cpKOjBGV8pExAKJ6jrC5OPGuCHKPZWKtcl6Lono81jMSSF6R//e/i/SPmukB07hArj9MkzS0D2otb2raacGAtBBY9mK3Fjf0A2ZhxOCDuTPcxxzlzUkzCwgFDbE2kPLvUqTaA7dNuecyv+RuVj17wJBx4bhtjZUes1YLeqbcnXdDN/Ie5XbInQGeE38T3pjkhcx8k/VT0qzIhRK2J4iTcCbYMlaihVtvu+xCVfiqmuEb8nilFsqBOoYowIK6CrTfKaBkgRne37zL+0dQwUKjFzdCc3Jys+CHmWOGHNqe9Jsp2BBfNvbhqT7Xzbx43MFaBBlFUKGws3RqjtXrOGynQ24MX2RVbpW+v1viKiddiD4pqBrQ8nxfIyDpO8w7T7SrKwy0pm8Wb3s1F1WIxkJktfzKaMUdiePy+dBtr/pHvujFJx2Dn6ar83lzNN61ZyVejlIDyV/9EvUqLCH28li316VAB+QCHkW97d84I7WFpTcKtYcxzULXdYqYVOTynBcOIgcIzMcB0CVvhOCCbKjECAuI4XDFpCjaCDYCyzmXD0QusXzfnvhxoLhs5ycSbnc9WRovx243Br/8PRF900Aaitg4AAAAASUVORK5CYII=);
}

.star-wars-logo {
  text-align: center;
  z-index: 3;
  margin-bottom: 40px;
}

nav {
  color: white;
  text-align: center;
}

.social-icons {
  color: rgb(122, 122, 122);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  left: 10px;
  position: relative;
}

.social-icons: a hover {
  color: azure;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

.search-bar {
  position: relative;
  text-align: right;
  top: 20px;
  right: 20px;
  height: 30px;
  box-shadow: none;
}

#search-star-wars {
  background-color: #4e4e4e;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  text-align: right;
  top: 20px;
  right: 20px;
  height: 30px;
  box-shadow: none;
  border: 0px currentColor solid;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(122, 122, 122);
  border: solid 1px #4e4e4e;
  height: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1;
  background-color: black;
  text-transform: uppercase;
  margin-left: 100px;
  margin-right: 100px;
}

.nav-bar a:hover {
  color: azure;
}

.main {
  padding-top: 200px;
  text-align: center;
}

.slider {
  text-align: center;
background-color: black;
}

.slider-adverts {
  display: flex;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
  height: 80px;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stream.now.ad {
  background-color: rgba(26,26,26,0.5);
  width: 100%;
}

.mando-section {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  background-color: rgba(26,26,26,0.5);
}

.row1{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 100px 20px 100px;
}

.row2 {
  color: white;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 100px 20px 100px;
  height: 200px; */
}

.box1 {
height: 150px;
width: 512px;
display: flex;
flex-direction: row;
}

.box2 {
  height: 150px;
  width: 512px;
  display: flex;
  flex-direction: row;
}  

.box3 {
  height: 150px;
  width: 512px;
  display: flex;
  flex-direction: row;
}

.box4 {
  height: 150px;
  width: 512px;
  display: flex;
  flex-direction: row;
}

